{% load static %}
{% include 'user_dashboard_header.html' %}
<br><br><br><br><br><br><br>
<div class="container">
 <div class="row">
        {% for i in response %}
    <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 18rem;">
  <img src="../media/{{i.property_photo}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.property_location}}</h5>
    <p class="card-text  text-dark "><b>property name:</b> {{i.property_name}}</p>
    <p class="card-text  text-dark "><b>property category:</b> {{i.property_category}}</p>
    <p class="card-text text-dark"><b>Budget:</b> {{i.property_budget}}</p>
    <p class="card-text text-dark"><b>Bedrooms:</b> {{i.bedrooms}}</p>
    <p class="card-text text-dark"><b>Bathrooms:</b> {{i.bathrooms}}</p>
    <p class="card-text text-dark"><b>Area:</b> {{i.area}}</p>
    <p class="card-text text-dark"><b>Floor:</b> {{i.floor}}</p>
    <p class="card-text text-dark"><b>Parking:</b> {{i.parking}}</p>
    <button class="btn btn-primary d-flex justify-content-center"><a href="{% url 'user_schedule_visit' id=i.id %}" style="text-decoration: none; color: white;">Schedule A Visit</a></button>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
</div>
        
        {% endfor %}
    </div>
    </div>
{% include 'user_dashboard_footer.html' %}